body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
}
.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
}

header {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #99f6e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.bookDisplay {
    background-color: #99f6e4;
    padding: 40px;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );
    grid-auto-rows: clamp(200px, 300px, 500px);
    gap: 20px;
    justify-content: center;

}
.book {
    font-size: 1.2rem;
    padding: 25px;
    background-color: #14b8a6;
    border-left: 8px solid #134e4a;
    border-radius: 10px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    overflow: hidden;
}
.book > .title {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 42px;
    font-weight: 800px;
    border-bottom: 1px solid black;
    align-self: center;
}
.book > .author {
    padding-top: 30px;
    padding-bottom: 10px;
    grid-area: 2 / 1 / 3 / 2;
}
.book > .pages {
    grid-area: 3 / 1 / 4 / 2;
}
.book > .read {
    grid-area: 4 / 1 / 5 / 2;
    margin-top: 10px;
}

.read {
    border: 0px solid black;
    border-radius: 10px;
    justify-self: center;
    width: max(200px, 40%);
    height: 40px;
    align-items: center;
    padding: 10px;
}
.headerButtons {
    display: flex;
    gap: 20px;
}
.headerButtons > button, .warningPrompt > button {

  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.headerButtons > button:hover, .warningPrompt > button:hover  {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.headerButtons > button:focus , .warningPrompt > button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.formPrompt, .warningPrompt {
    justify-self: center;
    align-self: center;
    left: 0;
    right: 0;
    top: 30vh;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    background-color: #94a3b8;
    border-radius: 4px;
    border:2px solid #134e4a;
}
.formPrompt {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    gap: 20px; 
}
.warningPrompt {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}


.formPrompt > input {
    height: 20px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}
.formButtons {
    display: flex;
    gap: 20px;
}
.formButtons > button {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


